<!DOCTYPE html>
<html>
  <body>
    {% if username %}
      <div>
  			<div style="float: left">
  				<a href="/">Home</a>
          <a href="/preferences">Preferences</a>
  			</div>
  			<div style="float: right"> Logged in as {{ username }}</div>
        <div>
          <a href="/logout">logout</a>
        </div>
      </div>
    {% else %}
      <div>
        <div style="float: left">
  				<a href="/login">login</a>
  				<a href="/register">register</a>
  			</div>
  			<div style="float: right"> Welcome</div>
      </div>
    {% endif %}
      <div>
        <br>
        <center>Get events</center>
        {% if message %}
          <div>
            <div class="events"><center>{{ message }}</center></div>
          </div>
        {% endif %}
      </div>
  </body>
</html>
